*.py[cod]
*.sw[op]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.nox

# Mac
.DS_Store

# Built documentation
docs/_build

# Virtual environment
env/
coverage.xml